<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proof of Attendance</title>
</head>
<style>
    *{
    padding: 0;
    margin: 0;
}

body{
    background-color: #008B8B;
}

h2
{
    color: rgb(5,56,107);
}

h4
{
    color: rgb(5,56,107);
}
    h1{
    text-align: center;
    color: rgb(0, 0, 0);
    margin-top: 3vh;
}
#cont{
    margin-top: 7vh;
    justify-content: center;
    height: 55vh;
    width: auto;
    display: flex;
}
h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    font-style: Helvetica;
    color:rgb(#0F2027, #203A43, #2C5364)
}
</style>
<body>
    <h1>Attendance Submitted Successfully</h1><br><br>
    <h2>Success !</h2>
    <div>
        <div>
            <h4>
        <p>Name : {{name}}</p>
        <p>Roll No : {{rollno}}</p>
        <p>Year: {{year}}</p>
        <p>Time: {{time}}</p>
        </h4>
        </div>
    </div>
</body>
</html>